:root{
    --fundo: #ffe9f1;
--cartao-frente: #ffc4d5;
--cartao-verso: #ffb2c7;
--branco: #ffffff;
--preto: #000000;
--destaque: #ffd7e3;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    color: var(--branco);
}